  const price_custom_formate = document.querySelectorAll('.product-grid-container .collection .price__regular .price-item--regular')


  price_custom_formate.forEach((price) => {

    if (price.innerText.indexOf('€') > 0) {
        const [beforeComma, aftercomma] = price.innerText.split(',');
        const [text, euroText] = beforeComma.split(' ');
        const [euro, number, secondNumber] = euroText.split('');
        price.innerHTML = `<p>${text}</p> ${number}${secondNumber}.<sup>${aftercomma} ${euro}</sup>`

    } else {
        const [beforeCommaText, afterCommaText] = price.innerText.split(',')
        const [euro, number, secondNumber] = beforeCommaText.split('');
        price.innerHTML = `${number}${secondNumber}.<sup>${afterCommaText} ${euro}</sup>`
    }
  })

